<#assign nBeginIndex = portlet.portletTypeName?last_index_of("_")><#assign portletName = portlet.portletTypeName?substring(0, nBeginIndex)?lower_case>	
<#switch portlet_jsp_type>
 
 <#case 0>
<%@ page errorPage=" <#if is_Module>../../</#if>../../ErrorPage.jsp" %>

<jsp:include page="<#if is_Module>../../</#if>../../PortletAdminHeader.jsp" />

<jsp:useBean id="${portlet.portletClass}" scope="session" class="fr.paris.lutece.plugins.${plugin_name}.web.portlet.${portlet.portletClass}JspBean" />

<% ${portlet.portletClass}.init( request, ${portlet.portletClass}.RIGHT_MANAGE_ADMIN_SITE ); %>
<%= ${portlet.portletClass}.getModify ( request ) %>

<%@ include file="<#if is_Module>../../</#if>../../AdminFooter.jsp" %>


 <#if is_Module>
	<%@ include file="../../../../AdminFooter.jsp" %>
 <#else>
	<%@ include file="../../AdminFooter.jsp" %>
 	
 </#if>
 <#break>
 
<#case 1>
<%@ page errorPage="<#if is_Module>../../</#if>../../ErrorPage.jsp" %>

<jsp:useBean id="${portlet.portletClass}" scope="session" class="fr.paris.lutece.plugins.${plugin_name}.web.portlet.${portlet.portletClass}JspBean" />

<%
    ${portlet.portletClass}.init( request, ${portlet.portletClass}.RIGHT_MANAGE_ADMIN_SITE );
    response.sendRedirect( ${portlet.portletClass}.doModify( request ) );
%>

<#break>
 
<#case 2>

<%@ page errorPage="<#if is_Module>../../</#if>../../ErrorPage.jsp" %>

<jsp:include page="<#if is_Module>../../</#if>../../PortletAdminHeader.jsp" />
<jsp:useBean id="${portlet.portletClass}" scope="session" class="fr.paris.lutece.plugins.${plugin_name}.web.portlet.${portlet.portletClass}JspBean" />

<% ${portlet.portletClass}.init( request, ${portlet.portletClass}.RIGHT_MANAGE_ADMIN_SITE); %>
<%= ${portlet.portletClass}.getCreate ( request ) %>

<%@ include file="<#if is_Module>../../</#if>../../AdminFooter.jsp" %>

<#break>

<#case 3>

<%@ page errorPage="<#if is_Module>../../</#if>../../ErrorPage.jsp" %>

<jsp:useBean id="${portlet.portletClass}" scope="session" class="fr.paris.lutece.plugins.${plugin_name}.web.portlet.${portlet.portletClass}JspBean" />

<%
    ${portlet.portletClass}.init( request, ${portlet.portletClass}.RIGHT_MANAGE_ADMIN_SITE );
    response.sendRedirect( ${portlet.portletClass}.doCreate( request ) );
%>
 <#break>


 <#default>
  
 </#switch>  

